<div class="search-results-wrapper clearfix">
  <div class="search-facets col-md-2">
    <h3>Show:</h3>
    <ul class="facets">
      <li>
        <label>Artists</label>
       
      </li>
      <li>
        <label>Songs</label>
        
      </li>
    </ul>
  </div>

</div>
